.expense-container {
  margin-top: 20px;
  text-align: center;
}

.expense-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.expense-form input,
.expense-form select,
.expense-form button {
  padding: 8px;
  font-size: 14px;
}

.expense-list {
  margin-top: 20px;
}

.expense-item {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.delete-btn {
  background-color: red;
  margin-right: 8px;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: silver;;
  margin-left: 8px;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.dark-theme {
  background-color: #121212;
  color: white;
}

.premium-btn,
.toggle-btn,
.download-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.premium-btn {
  background-color: gold;
  color: black;
}

.toggle-btn {
  background-color: #444;
  color: white;
}

.download-btn {
  background-color: #008cff;
  color: white;
  text-decoration: none;
}

.premium-features {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

