.expense-container {
  margin-top: 20px;
  text-align: center;
}

.expense-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.expense-form input,
.expense-form select,
.expense-form button {
  padding: 8px;
  font-size: 14px;
}

.expense-list {
  margin-top: 20px;
}

.expense-item {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
}

.delete-btn {
  background-color: red;
  margin-right: 8px;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: silver;;
  margin-left: 8px;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

