.home-container {
  width: 80%;
  margin: 50px auto;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.complete-btn{
  background-color: blue;
  color: white; 
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.verify-btn{
  background-color: brown;
  color: white;
  border-radius: 4px;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}