.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.email-input,
.password-input, {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.login-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.signup-btn {
  background-color: lightgreen;
  color: black;
  border: black;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.forgot-btn {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}